.global-nav .people,
.count.new-count,
#global-actions .topics,
.ProfileWTFAndTrends,
.trends-inner,
.WebToast,
.promoted-tweet,
.wtf-module, 
.dashboard-right,
#global-actions .Icon,
.siderail-related-tweets-container
{
  display: none;
}

/* Make new-style profiles readable again! */

.ProfileTweet--high .ProfileTweet-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

/* Just because a screen is wider than ~400 pixels, doesn't
mean the cover image should take over 50% of the height. */

.ProfileCanopy, .ProfileCanopy-header {
  max-height: 300px;
}

/* speed dis up */
#global-actions > li > a {
  transition: none;
}
